<body [ngClass]="theme">
  <h1>Angular Material Theme Preview</h1>
  <hr />
  <div>
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(ngModel)]="theme">
      <mat-button-toggle value="light">Light</mat-button-toggle>
      <mat-button-toggle value="light-medium-contrast">Light Medium Contrast</mat-button-toggle>
      <mat-button-toggle value="light-high-contrast">Light High Contrast</mat-button-toggle>
      <mat-button-toggle value="dark">Dark</mat-button-toggle>
      <mat-button-toggle value="dark-medium-contrast">Dark Medium Contrast</mat-button-toggle>
      <mat-button-toggle value="dark-high-contrast">Dark High Contrast</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <hr />

  <div class="grid-container">
    <div class="column-left">
      <div class="row">
        <mat-grid-list cols="3" rowHeight="2:1" gutterSize="10px">
          <mat-grid-tile class="primary">
            <div class="top-left">Primary</div>
          </mat-grid-tile>
          <mat-grid-tile class="secondary">
            <div class="top-left">Secondary</div>
          </mat-grid-tile>
          <mat-grid-tile class="tertiary">
            <div class="top-left">Tertiary</div>
          </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="3" rowHeight="4:1" gutterSize="10px">
          <mat-grid-tile class="on-primary">
            <div class="top-left">On Primary</div>
          </mat-grid-tile>
          <mat-grid-tile class="on-secondary">
            <div class="top-left">On Secondary</div>
          </mat-grid-tile>
          <mat-grid-tile class="on-tertiary">
            <div class="top-left">On Tertiary</div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>

      <div class="row">
        <mat-grid-list cols="3" rowHeight="2:1" gutterSize="10px">
          <mat-grid-tile class="primary-container">
            <div class="top-left">Primary Container</div>
          </mat-grid-tile>
          <mat-grid-tile class="secondary-container">
            <div class="top-left">Secondary Container</div>
          </mat-grid-tile>
          <mat-grid-tile class="tertiary-container">
            <div class="top-left">Tertiary Container</div>
          </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="3" rowHeight="4:1" gutterSize="10px">
          <mat-grid-tile class="on-primary-container">
            <div class="top-left">On Primary Container</div>
          </mat-grid-tile>
          <mat-grid-tile class="on-secondary-container">
            <div class="top-left">On Secondary Container</div>
          </mat-grid-tile>
          <mat-grid-tile class="on-tertiary-container">
            <div class="top-left">On Tertiary Container</div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>

      <div class="row">
        <mat-grid-list cols="3" rowHeight="2:1" gutterSize="10px">
          <mat-grid-tile class="surface-dim">
            <div class="top-left">Surface Dim</div>
          </mat-grid-tile>
          <mat-grid-tile class="surface">
            <div class="top-left">Surface</div>
          </mat-grid-tile>
          <mat-grid-tile class="surface-bright">
            <div class="top-left">Surface Bright</div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>

      <div class="row">
        <mat-grid-list cols="5" rowHeight="2:1" gutterSize="10px">
          <mat-grid-tile class="surf-container-lowest">
            <div class="top-left">Surf. Container Lowest</div>
          </mat-grid-tile>
          <mat-grid-tile class="surf-container-low">
            <div class="top-left">Surf. Container Low</div>
          </mat-grid-tile>
          <mat-grid-tile class="surf-container">
            <div class="top-left">Surf. Container</div>
          </mat-grid-tile>
          <mat-grid-tile class="surf-container-high">
            <div class="top-left">Surf. Container High</div>
          </mat-grid-tile>
          <mat-grid-tile class="surf-container-highest">
            <div class="top-left">Surf. Container Highest</div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>

      <div class="row">
        <mat-grid-list cols="4" rowHeight="2:1" gutterSize="10px">
          <mat-grid-tile class="on-surface">
            <div class="top-left">On Surface</div>
          </mat-grid-tile>
          <mat-grid-tile class="on-surface-var">
            <div class="top-left">On Surface Var.</div>
          </mat-grid-tile>
          <mat-grid-tile class="outline">
            <div class="top-left">Outline</div>
          </mat-grid-tile>
          <mat-grid-tile class="outline-var">
            <div class="top-left">Outline Var.</div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>

    <div class="column-right">
      <div class="row">
        <mat-grid-list cols="1" rowHeight="2:1" gutterSize="10px">
          <mat-grid-tile class="error">
            <div class="top-left">Error</div>
          </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="1" rowHeight="4:1" gutterSize="10px">
          <mat-grid-tile class="on-error">
            <div class="top-left">On Error</div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>

      <div class="row">
        <mat-grid-list cols="1" rowHeight="2:1" gutterSize="10px">
          <mat-grid-tile class="error-container">
            <div class="top-left">Error Container</div>
          </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="1" rowHeight="4:1" gutterSize="10px">
          <mat-grid-tile class="on-error-container">
            <div class="top-left">On Error Container</div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>

      <div class="row">
        <mat-grid-list cols="1" rowHeight="2:1" gutterSize="10px">
          <mat-grid-tile class="inverse-surface">
            <div class="top-left">Inverse Surface</div>
          </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="1" rowHeight="4:1" gutterSize="10px">
          <mat-grid-tile class="inverse-on-surface">
            <div class="top-left">Inverse On Surface</div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>

      <div class="row">
        <mat-grid-list cols="1" rowHeight="2:1" gutterSize="10px">
          <mat-grid-tile class="inverse-primary">
            <div class="top-left">Inverse Primary</div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>

      <div class="row">
        <mat-grid-list cols="2" rowHeight="2:1" gutterSize="10px">
          <mat-grid-tile class="scrim">
            <div class="top-left">Scrim</div>
          </mat-grid-tile>

          <mat-grid-tile class="shadow">
            <div class="top-left">Shadow</div>
          </mat-grid-tile>
        </mat-grid-list>

      </div>

    </div>
  </div>

</body>